<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form id="urlForm">
            <input type="text" name="url" id="url" placeholder="Enter URL to shorten" required>
            <input type="text" name="custom_alias" id="customAlias" placeholder="Custom alias (optional)">
            <button type="submit">Shorten URL</button>
        </form>
    </div>
    
    <!-- Notification bar for displaying the shortened URL -->
    <div id="notificationBar" class="notification-bar"></div>
    
    <script src="/static/js/script.js"></script>
    
    

</body>
</html>
